$color_1: #444;
$color_2: #303030;
$color_3: #777;
$color_4: #30a5ff;
$color_5: #c5c7cc;
$color_6: #1ebfae;
$color_7: #ffb53e;
$color_8: #f9243f;
$color_9: #fff;
$color_10: #1b3548;
$color_11: #50b3ff;
$color_12: rgba(255, 255, 255, 0.75);
$color_13: #999;
$color_14: #aaa;
$color_15: #ef4040;
$color_16: #224f9e;
$color_17: #05498b;
$color_18: rgba(0, 0, 0, 0.4);
$color_19: inherit;
$color_20: #e91720;
$font-family_1: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
$background-color_1: #fff;
$background-color_2: #eee;
$background-color_3: #e9ecf2;
$background-color_4: #30a5ff;
$background-color_5: #8ad919;
$background-color_6: #ffb53e;
$background-color_7: #f9243f;
$background-color_8: #1ebfae;
$background-color_9: #777;
$background-color_10: #5e5e5e;
$background-color_11: #ec971f;
$background-color_12: #999;
$background-color_13: #f2f3f2;
$background-color_14: #f6f6f6;
$background-color_15: rgba(255, 255, 255, 0);
$background-color_16: rgba(255, 255, 255, 1);
$background-color_17: rgba(255, 255, 255, 0.3);
$background-color_18: transparent;
$background-color_19: rgba(0, 255, 0, 0.2);
$background-color_20: rgba(255, 0, 0, 0.2);
$border-color_1: #e9ecf2;
$border-color_2: #30a5ff;
$border-color_3: #8ad919;
$border-color_4: #ffb53e;
$border-color_5: #f9243f;
$border-color_6: #285e8e;
$border-color_7: #ddd;
$border-color_8: #e91720;
