#tips {
  .list .tip {
    position: relative;
    margin-bottom: 30px;

    a {
      display: block;
    }

    span {
      background-color: $darkNavy;
      display: block;
      position: absolute;
      bottom: 0;
      width: 100%;
      left: 0;
      padding: 15px;
      color: $white;
    }

    .video, .image {
      background-repeat: no-repeat;
      background-position: center center;
      background-size: cover;
    }
  }

  .cta-button {
    font-size: 30px;
  }
}
