#application {
  padding-top: 106px;

  .media {
    background-color: $midnightBlue;
  }

  .image {
    height: 600px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
  }

  .video-youtube iframe, .video-vimeo iframe, .video-facebook iframe {
    height: 600px;
    width: 100%;
  }

  .fb {
    display: inline-block;
    margin: 0 10px 0 0;
    padding: 0 0 0 0;
    background-size: 100% auto;
    background: $white none;
    -webkit-transition: all 0.25s ease;
    -moz-transition: all 0.25s ease;
    -ms-transition: all 0.25s ease;
    -o-transition: all 0.25s ease;
    transition: all 0.25s ease;
    position: absolute;
    bottom: 0;
    right: 0;
    width: 30px;
    height: 30px;

    &:before {
      display: block;
      text-align: center;
      word-wrap: break-word;
      vertical-align: bottom;
      color: $midnightBlue;
      -webkit-transition: all 0.25s ease;
      -moz-transition: all 0.25s ease;
      -ms-transition: all 0.25s ease;
      -o-transition: all 0.25s ease;
      transition: all 0.25s ease;
      background-size: 100% auto;
      width: calc(44px * 1);
      height: calc(44px * 1);
      line-height: calc(44px * 1);
      font-family: $glyphiconHalflings;
      font-size: 1.32em;
      background-image: url('/images/svg/facebook-single.svg');
      background-position: left bottom;
      background-repeat: no-repeat;
      content: '';
    }
  }
}
