$midnightBlue: #030c3e;
$darkNavy: #041442;
$white: #ffffff;
$gold: #efc700;
$lightGray1: #dddddd;
$fireEngineRed: #cd1719;
$lightGray2: #dcdcdc;
$black: #000000;
$tomatoRed: #e41e13;
$gray: #888888;
$plum: #490524;
$lightGray3: #f2f2f2;
$lightGray4: #f0f0f0;
$lightGray5: #ededed;
$boxShadowColor: rgba(0, 0, 0, 0.2);
$skyBlue: #61b8f5;
$yellow: #efc700;
$glyphiconHalflings: 'Glyphicons Halflings';
$cairo: 'Cairo', sans-serif;
